<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/customers}" th:text="#{navigation.all-customers}">Browse all customers</a></h3></li>
</ul>

<h2>Edit Customer</h2>

<form th:replace="customer-form.html :: customer-form"></form>
</body>
</html>