<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta charset="UTF-8">
    <title th:text="${customer.getFirstName() + ' ' + customer.getLastName() + ' Profile'}">Customer Profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/customers}" th:text="#{navigation.all-customers}">Browse all customers</a></h3></li>
</ul>

<h2 th:text="${customer.getFirstName()}">Customer First Name</h2>
<h2 th:text="${customer.getLastName()}">Customer Last Name</h2>
<h3 th:text="${customer.getAddress().getName() +', city: '+customer.getAddress().getCity().getName()
                +', country: '+ customer.getAddress().getCity.getCountry().getName()}">Customer Address</h3>
<h3 th:text="${customer.getEmail()}">Customer Email</h3>


<h3>
<!--        <a href="#" th:href="@{/customers/{id}/update(id=${customer.getById()})}">Update</a>-->
<!--        <a href="#" th:href="@{/customers/{id}/delete(id=${customer.getById()})}">Delete</a>-->
        <a th:if="${isAuthenticatedEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
        <a th:if="${isAuthenticatedEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>