<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
<!--    <link rel="stylesheet" href="https://unpkg.com/mvp.css">-->
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>

<div th:if="${customers.isEmpty()}">
    <h2 th:text="#{customers.title.empty}">No Customers</h2>
</div>
<div th:unless="${customers.isEmpty()}">
    <h2 th:text="#{customers.title}">All customers</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{customer.label.firstName}">First name</div>
            <div class="cell" th:text="#{customer.label.lastName}">Last name</div>
            <div class="cell" th:text="#{user.label.email}">Email</div>
            <div class="cell" th:text="#{customer.label.role}">Role</div>
        </div>
        <div class="row" th:each="customer : ${customers}">
            <div class="cell">
                <a href="#" th:href="@{/customers/{id}(id=${customer.getById()})}" th:text="${customer.getFirstName()}">First name</a>
            </div>
            <div class="cell" th:text="${customer.getLastName()}">Last name</div>
            <div class="cell" th:text="${customer.getEmail()}">Email</div>
            <div class="cell" th:text="${customer.getRole().getRole()}">Role</div>
        </div>
    </div>
</div>
</body>
</html>