<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Customer Form Fragment</title>
</head>

<body>
<form th:fragment="customer-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${customer}" method="post">
    <label th:text="#{customer.label.firstName}">First name</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}">First name error placeholder</label>
    <br/><br/>

    <label th:text="#{customer.label.lastName}">Last Name</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}">Last Name error placeholder</label>
    <br/><br/>

    <label th:text="#{customer.label.email}">Email</label>
    <br/>
    <input type="text" th:field="*{email}"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <label th:text="#{customer.label.password}">Password</label>
    <br/>
    <input type="text" th:field="*{password}"/>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <br/><br/>

    <label th:text="#{customer.label.address}">Address</label>
    <br/>
    <select th:field="*{address}">
        <option th:each="address1 : ${addresses}"
                th:value="${address1.getId()}"
                th:text="${address1.getName() +', city: '+ address1.getCity().getName()
                +', country: '+ address1.getCity.getCountry().getName()}">
            Addresses
        </option>
    </select>
    <label class="error" th:errors="*{address}">Address error placeholder</label>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>