<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

    <style>
        body, html {
            height: 100%;
        }
    </style>
<title>Home Page</title>
<link rel="stylesheet" href="https://unpkg.com/mvp.css">

</head>
<body style="background: url(https://mdbootstrap.com/img/new/fluid/city/018.jpg)
        no-repeat; background-size: 100% 110%">
<!-- first time user-->
<!-- login, register, browse all warehouse - ако current user is null -->
<!-- ако не е нъл logout, browse all warehouse-->
<!-- ако е customer, my parcels, my shipment, my profile-->
<!-- ако е employee , employee panel, employee buttons-->
<div id="intro" class="bg-image shadow-2-strong">
    <h2 th:text="#{home.welcome}">Welcome!</h2>
    <h2>Serving <span th:text="${customersCount}">###</span> happy customers since 2021.</h2>

    <ul>
        <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/customers}"
                                                      th:text="#{navigation.all-customers}">Browse all customers.</a>
        </h3></li>
        <!--    th:if="${isEmployee}-->
        <li><h3><a href="#" th:href="@{/warehouses}" th:text="#{navigation.all-warehouses}">Browse all warehouses</a>
        </h3>
        <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/shipments}"
                                                      th:text="#{navigation.all-shipments}">Browse all shipments</a>
        </h3>
        </li>
        <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/login}" href="#">Login</a></h3></li>
        <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/register}" href="#">Register</a></h3></li>
        <li th:if="${isAuthenticated}"><h3><a th:href="@{/parcels}" href="#">Browse all parcels</a></h3></li>
        <li th:if="${isAuthenticated}"><h3><a th:href="@{/auth/logout}" href="#">Logout</a></h3></li>
    </ul>


    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
        </div>
    </div>
</div>
<h2 th:text="${session.currentUser}" th:if="${isAuthenticated}"></h2>
</body>
</html>