<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Parcel</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Browse all parcels</a></h3></li>
</ul>

<h2>New Parcel</h2>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${parcel}" method="post">
    <label th:text="#{parcel.name}">Parcel Name</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name</label>
    <br/><br/>

    <label th:text="#{parcel.customer}">Customer</label>
    <br/>
    <select th:field="*{userId}">
        <option th:each="customer : ${customers}"
                th:value="${customer.getById()}"
                th:text="${customer.getFirstName()+' '+customer.getLastName()}">
            Customer
        </option>
    </select>
    <label class="error" th:errors="*{userId}">Customer error placeholder</label>
    <br/><br/>

    <label th:text="#{parcel.destination}">Destination warehouse</label>
    <br/>
    <select th:field="*{warehouseId}">
        <option th:each="warehouse : ${warehouses}"
                th:value="${warehouse.getId()}"
                th:text="${warehouse.getName()}">
            Warehouse
        </option>
    </select>
    <label class="error" th:errors="*{warehouseId}">Warehouse error placeholder</label>
    <br/><br/>


    <label th:text="#{parcel.category}">Category</label>
    <br/>
    <select th:field="*{categoryId}">
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getName()}">
            Category
        </option>
    </select>
    <label class="error" th:errors="*{categoryId}">Category error placeholder</label>
    <br/><br/>
    <label th:text="#{parcel.weight}">Weight</label>
    <br/>
    <input type="text" th:field="*{weight}"/>
    <label class="error" th:errors="*{weight}">Weight error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>