<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Parcels</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/parcels/new}" th:text="#{navigation.create-parcel}">Create a new parcel</a></h3></li>

</ul>


<div th:if="${parcels.isEmpty()}">
    <h2 th:text="#{parcels.title.empty}">No Parcels</h2>
</div>

<div th:if="${isAuthenticatedEmployee}">
    <div th:unless="${parcels.isEmpty()}">
        <h2 th:text="#{parcels.title}">All parcels</h2>

        <div class="table">
            <div class="header">
                <div class="cell-parcel" th:text="#{parcel.name}">Name</div>
                <div class="cell-parcel" th:text="#{parcel.customer}">Customer</div>
                <div class="cell-parcel" th:text="#{parcel.warehouse}">Warehouse</div>
                <div class="cell-parcel" th:text="#{parcel.weight}">Weight</div>
                <div class="cell-parcel" th:text="#{parcel.category}">Category</div>
            </div>
            <div class="row" th:each="parcel : ${parcels}">
                <div class="cell-parcel">
                    <a href="#" th:href="@{/parcels/{id}(id=${parcel.getId()})}" th:text="${parcel.getName()}">Name</a>
                </div>
                <div class="cell-parcel" th:text="${parcel.getUser().getFirstName()}">User</div>
                <div class="cell-parcel" th:text="${parcel.getWarehouse().getName()}">Warehouse</div>
                <div class="cell-parcel" th:text="${parcel.getWeight()}">Weight</div>
                <div class="cell-parcel" th:text="${parcel.getCategory().getName()}">Category</div>
            </div>
        </div>
    </div>
</div>

<div th:if="${isAuthenticatedCustomer}">

    <div th:if="${customerCompletedParcels.isEmpty() and customerOnTheWayParcels.isEmpty() }">
        <h2 th:text="#{parcels.title.empty}">No Parcels</h2>
    </div>

    <div th:unless="${customerCompletedParcels.isEmpty()}">
        <h2 th:text="#{parcels.completed.title}">All my parcels</h2>

        <div class="table">
            <div class="header">
                <div class="cell-parcel" th:text="#{parcel.name}">Name</div>
                <div class="cell-parcel" th:text="#{parcel.customer}">Customer</div>
                <div class="cell-parcel" th:text="#{parcel.warehouse}">Warehouse</div>
                <div class="cell-parcel" th:text="#{parcel.weight}">Weight</div>
                <div class="cell-parcel" th:text="#{parcel.category}">Category</div>
                <div class="cell-parcel" th:text="#{parcel.status}">Status</div>
            </div>
            <div class="row" th:each="parcel : ${customerCompletedParcels}">
                <div class="cell-parcel">
                    <a href="#" th:href="@{/parcels/{id}(id=${parcel.getId()})}" th:text="${parcel.getName()}">Name</a>
                </div>
                <div class="cell-parcel" th:text="${parcel.getUser().getFirstName()}">User</div>
                <div class="cell-parcel" th:text="${parcel.getWarehouse().getName()}">Warehouse</div>
                <div class="cell-parcel" th:text="${parcel.getWeight()}">Weight</div>
                <div class="cell-parcel" th:text="${parcel.getCategory().getName()}">Category</div>
                <div class="cell-parcel" th:text="#{parcel.completed.status}">COMPLETED</div>
            </div>
        </div>
    </div>

    <div th:unless="${customerOnTheWayParcels.isEmpty()}">
        <h2 th:text="#{parcels.ontheway.title}">All my parcels on the way</h2>

        <div class="table">
            <div class="header">
                <div class="cell-parcel" th:text="#{parcel.name}">Name</div>
                <div class="cell-parcel" th:text="#{parcel.customer}">Customer</div>
                <div class="cell-parcel" th:text="#{parcel.warehouse}">Warehouse</div>
                <div class="cell-parcel" th:text="#{parcel.weight}">Weight</div>
                <div class="cell-parcel" th:text="#{parcel.category}">Category</div>
                <div class="cell-parcel" th:text="#{parcel.status}">Status</div>

            </div>
            <div class="row" th:each="parcel : ${customerOnTheWayParcels}">
                <div class="cell-parcel">
                    <a href="#" th:href="@{/parcels/{id}(id=${parcel.getId()})}" th:text="${parcel.getName()}">Name</a>
                </div>
                <div class="cell-parcel" th:text="${parcel.getUser().getFirstName()}">User</div>
                <div class="cell-parcel" th:text="${parcel.getWarehouse().getName()}">Warehouse</div>
                <div class="cell-parcel" th:text="${parcel.getWeight()}">Weight</div>
                <div class="cell-parcel" th:text="${parcel.getCategory().getName()}">Category</div>
                <div class="cell-parcel" th:text="#{parcel.ontheway.status}">ON THE WAY</div>

            </div>
        </div>
    </div>

</div>

</body>
</html>