<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Parcel Details</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Browse all parcels</a></h3></li>
</ul>

<h3 th:text="${parcel.getName()}">Name</h3>
<h3 th:text="${parcel.getUser().getFirstName() + ' ' +  parcel.getUser().getLastName()}">Customer</h3>
<h3 th:text="${parcel.getWarehouse().getName()}">Warehouse</h3>
<h3 th:text="${parcel.getWeight()}">Weight</h3>
<h3 th:text="${parcel.getCategory().getName()}">Category</h3>

<h3>
    <a th:if="${isAuthenticatedEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a th:if="${isAuthenticatedEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>
</body>
</html>