<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<h2>Register</h2>

<form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">

    <label th:text="#{user.label.first-name}">First Name</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}">First name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.last-name}">Last Name</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.address}">Address</label>
    <br/>
    <input type="text" th:field="*{addressName}"/>
    <label class="error" th:errors="*{addressName}">Address error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.address.city}">City</label>
    <br/>
    <select th:field="*{cityId}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
            CityName
        </option>
    </select>
    <label class="error" th:errors="*{cityId}">City error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.address.country}">Country</label>
    <br/>
    <select th:field="*{countryId}">
        <option th:each="country : ${countries}"
                th:value="${country.getId()}"
                th:text="${country.getName()}">
            CountryName
        </option>
    </select>
    <label class="error" th:errors="*{countryId}">Country error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.email}">Email</label>
    <br/>
    <input type="text" th:field="*{email}"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.password}">Password</label>
    <br/>
    <input type="password" th:field="*{password}"/>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <br/><br/>

    <label th:text="#{user.label.password-confirm}">Confirm Password</label>
    <br/>
    <input type="password" th:field="*{passwordConfirm}"/>
    <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
    <br/><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>