<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Shipment Form Fragment</title>
</head>
<body>
<form th:fragment="shipment-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${shipment}" method="post">
    <label th:text="#{shipment.label.originWarehouse}">Origin Warehouse</label>
    <br/>
    <select th:field="*{originWarehouse}">
        <option th:each="originWarehouse1 : ${originWarehouses}"
                th:value="${originWarehouse1.getId()}"
                th:text="${originWarehouse1.getName() +', address: '+originWarehouse1.getAddress().getName()}">
            OriginWarehouses
        </option>
    </select>
    <label class="error" th:errors="*{originWarehouse}">Origin Warehouse error placeholder</label>
    <br/><br/>

    <label th:text="#{shipment.label.destinationWarehouse}">Destination Warehouse</label>
    <br/>
    <select th:field="*{destinationWarehouse}">
        <option th:each="destinationWarehouse1 : ${destinationWarehouses}"
                th:value="${destinationWarehouse1.getId()}"
                th:text="${destinationWarehouse1.getName() +
                ', address: '+destinationWarehouse1.getAddress().getName()}">
            DestinationWarehouses
        </option>
    </select>
    <label class="error" th:errors="*{destinationWarehouse}">Destination Warehouse error placeholder</label>
    <br/><br/>

    <label th:text="#{shipment.label.departure}">Departure</label>
    <br/>
    <input type="date" th:field="*{departureDate}"/>
    <label class="error" th:errors="*{departureDate}">Departure error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>


<!--<section class="section">-->
<!--    <table class="table">-->
<!--        <thread>-->
<!--            <tr>-->
<!--                <th> ID</th>-->
<!--                <th> Deliver to</th>-->
<!--                <th> Weight</th>-->
<!--                <th> Category</th>-->
<!--                <th> Pick From</th>-->
<!--                <th> Arrival Date</th>-->
<!--                <th> Departure Date</th>-->
<!--                <th> Shipment Status</th>-->
<!--                <th> Change Delivery</th>-->
<!--            </tr>-->
<!--        </thread>-->
<!--        <tbody>-->
<!--        <tr th:each="parcel :${userParcels}">-->
<!--            <td><span th:text="${parcel.getId()}"> ID </span></td>-->
<!--            <td><span-->
<!--                    th:text="${parcel.getWarehouseDelivered().getAddress().getCity().getName()}"> Deliver to </span>-->
<!--            </td>-->
<!--            <td><span th:text="${parcel.getWeight()}"> Weight </span></td>-->
<!--            <td><span th:text="${parcel.getCategory().getName()}"> Category </span></td>-->
<!--            <td><span th:text="${parcel.isPickFromWarehouse() ? 'Warehouse' : 'My Address'}"> Pick From</span></td>-->
<!--            <td><span-->
<!--                    th:text="${parcel.getShipment() ne null} ? (${parcel.getShipment().getDepartureDate()} ?: '(In process)')  : '(In process)' ">  Departure Date </span>-->
<!--            </td>-->
<!--            <td><span-->
<!--                    th:text="${parcel.getShipment() ne null} ? (${parcel.getShipment().getArrivalDate()} ?: '(In process)') : '(In process)' "> Arrival Date </span>-->
<!--            </td>-->
<!--            <td><span-->
<!--                    th:text="${parcel.getShipment() ne null} ? (${parcel.getShipment().getStatus()} ?: '(In process)')  : '(In process)' "> Shipment Status</span>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form th:action="@{/deliverit/parcels/changeDelivery/{parcelId}(parcelId=${parcel.getId()})}"-->
<!--                      method="POST">-->
<!--                    <button type="submit"-->
<!--                            th:disabled="${parcel.getShipment() ne null} ? (${parcel.getShipment().getDepartureDate() ?: 'false'} ?: 'true') : 'false' "-->
<!--                            th:class="${parcel.isPickFromWarehouse() ? 'btn btn-success' : 'btn btn-primary'}"-->
<!--                            th:text="${parcel.isPickFromWarehouse() ? 'to My Address' : 'to Warehouse'}">Address-->
<!--                        Deliver-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</section>-->

