<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Shipment</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all shipments</a></h3></li>
</ul>

<h2>New shipment</h2>

<form th:replace="shipment-form.html :: shipment-form"></form>
</body>
</html>