<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Shipments</title>
<!--    <link rel="stylesheet" href="https://unpkg.com/mvp.css">-->
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/shipments/new}"
                                                  th:text="#{navigation.create-shipment}">Create a new shipment</a></h3>
    </li>
    <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/shipments/listshipmentsOnTheWay}"
                                                  th:text="#{navigation.allOnTheWay-shipments}">View all on the way
        shipments</a></h3></li>
    <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/shipments/listshipmentsPreparing}"
                                                  th:text="#{navigation.allPreparing-shipments}">View all preparing
        shipments</a></h3></li>
    <li th:if="${isAuthenticatedEmployee}"><h3><a href="#" th:href="@{/shipments/listshipmentsCompleted}"
                                                  th:text="#{navigation.allCompleted-shipments}">View all completed
        shipments</a></h3></li>
</ul>

<div th:if="${shipments.isEmpty()}">
    <h2 th:text="#{shipment.title.empty}">No shipments</h2>
</div>
<div th:unless="${shipments.isEmpty()}">
    <h2 th:text="#{shipment.title}">All shipments</h2>

    <table class="table">
        <thread>
            <tr>
                <th scope="col">ID</th>
                <th scope="col"> Origin Warehouse</th>
                <th scope="col"> Destination Warehouse</th>
                <th scope="col"> Departure date</th>
                <th scope="col"> Arrival date</th>
                <th scope="col"> Status</th>
                <th scope="col"> Parcels</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="shipment :${shipments}">

            <td><span th:text="${shipment.getId()}"> ID </span></td>
            <td>
                <a href="#" th:href="@{/shipments/{id}(id=${shipment.getId()})}"
                   th:text="${shipment.getOriginWarehouse().getName()}"> Origin Warehouse</a>
            </td>
            <td><span th:text="${shipment.getDestinationWarehouse().getName()}"> Destination Warehouse </span></td>
            <td><span th:text="${shipment.getDeparture()}"> Departure date </span></td>
            <td><span th:text="${shipment.getArrival()}"> Arrival date </span></td>
            <td><span th:text="${shipment.getStatus()}"> Status </span></td>
            <td><span th:text="${shipment.getParcels()}"> Status </span></td>
        </tr>
        </tbody>
    </table>
    </section>
</div>


</body>
</html>


