<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title th:text="${shipment.getId() + ' ' + shipment.getStatus() + ' Profile'}">Shipment Profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all shipments</a></h3></li>

<!--    <li><h3><a href="#" th:href="@{/shipments-onTheWay}" th:text="#{navigation.allOnTheWay-shipments}">Browse all on the way shipments</a></h3></li>-->
<!--    <li><h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all shipments</a></h3></li>-->
<!--    <li><h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all shipments</a></h3></li>-->
</ul>

<h2 th:text="${'From '+shipment.getOriginWarehouse().getName()}">Shipment origin warehouse</h2>
<h2 th:text="${'to '+shipment.getDestinationWarehouse().getName()}">Shipment destination warehouse</h2>
<h2 th:text="${'Departure: '+shipment.getDeparture()}">Shipment departure date</h2>
<h2 th:text="${'Arrival: '+shipment.getArrival()}">Shipment arrival date</h2>

<h3>
    <!--        <a href="#" th:href="@{/customers/{id}/update(id=${customer.getById()})}">Update</a>-->
    <!--        <a href="#" th:href="@{/customers/{id}/delete(id=${customer.getById()})}">Delete</a>-->
    <a th:if="${isAuthenticatedEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a th:if="${isAuthenticatedEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>