<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Warehouses</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>

<div th:if="${warehouses.isEmpty()}">
    <h2 th:text="#{warehouses.title.empty}">No Warehouses</h2>
</div>
<div th:unless="${warehouses.isEmpty()}">
    <h2 th:text="#{navigation.all-warehouses}">All warehouses</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{warehouse.label.name}">Warehouse name</div>
            <div class="cell" th:text="#{warehouse.label.country}">Country</div>
            <div class="cell" th:text="#{warehouse.label.city}">City</div>
        </div>
        <div class="row" th:each="warehouse : ${warehouses}">
            <div class="cell">
                <a href="#" th:href="@{/warehouses/{id}(id=${warehouse.getId()})}" th:text="${warehouse.getName()}">warehouse name</a>
            </div>
            <div class="cell" th:text="${warehouse.getAddress().getCity().getCountry().getName()}">warehouse country</div>
            <div class="cell" th:text="${warehouse.getAddress().getCity().getName()}">warehouse city</div>
        </div>
    </div>
</div>
</body>
</html>