<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Warehouse Profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/warehouses}" th:text="#{navigation.all-warehouses}">Browse all warehouses</a></h3></li>
</ul>

<h3 th:text="${warehouse.getName()}">Warehouse Name</h3>
<h3 th:text="${warehouse.getAddress().getCity().getCountry().getName()}">Country</h3>
<h3 th:text="${warehouse.getAddress().getCity().getName()}">City</h3>
</body>
</html>